@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

body {
  margin: 0;

  font-family: "Pacifico", cursive;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --app-height: calc(var(--vh, 1vh) * 100);
}

span,
p,
h1,
h2,
h3,
h4,
h5 {
  font-family: "Pacifico", cursive;
  line-height: 1;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  box-sizing: border-box;
}
